@import url(common/reset.css);


/* header */
.header {
  width: 100%;
  height: auto;
}

.header .inner-header {
  display: flex;
  justify-content: center;

}

.header .inner-header .nav {
  flex: 0 1 1200px;
  display: flex;
  justify-content: space-between;
  border: 1px solid;
  box-sizing: border-box;
}

.header .inner-header .nav .left-menu {
  /* border: 1px solid; */
  flex: 0 0 50px;
  display: flex;
  box-sizing: border-box;

}

.header .inner-header .nav .left-menu span.menu {
  /* border: 1px solid; */
  visibility: hidden;
  display: block;
  display: none;
  text-align: center;
  width: 50px;
  line-height: 50px;
  text-align: center;
  box-sizing: border-box;
}
.header .inner-header .nav .left-menu span.menu:active+.gnb {
  left: 0%;
  /* visibility: visible; */
  display: block;
}
.header .inner-header .nav .left-menu span.close {
  /* border: 1px solid; */
  display: block;
  text-align: center;
  width: 50px;
  line-height: 50px;
  text-align: center;
  box-sizing: border-box;
  /* z-index: 22; */
}
.header .inner-header .nav .left-menu .gnb {
  position: fixed;
  /* display: none; */
  /* visibility: hidden; */
  left: -100%;
  top: 0;
  background-color: rgb(134, 134, 134);
  width: 200px;
  height: 100vh;
  box-sizing: border-box;
  /* transition: all 0.2s ease; */
  /* border-right: 1px solid #ccc; */
}
.header .inner-header .nav .left-menu .gnb:hover{
  left: 0;
}
.header .inner-header .nav .left-menu .gnb>ul {
  position: relative;
  display: flex;
  flex-direction: column;
}

.header .inner-header .nav .left-menu .gnb>ul>li::after {
  content: '';
  display: block;
  position: absolute;
  left: 200px;
  top: 0;
  width: 100%;
  height: 100vh;
  opacity: 0;
  transition: all 0.2s ease;
}

.header .inner-header .nav .left-menu .gnb>ul>li:not(.close):hover::after {
  width: 100vw;
  height: 100vh;
  right: 0;
  opacity: 1;
  background-color: rgba(227, 227, 227, 0.772);
}
.header .inner-header .nav .left-menu .gnb>ul>li.close+.gnb{
  left: -100%;
  /* visibility: block; */
}
.header .inner-header .nav .left-menu .gnb>ul>li:hover {
  background-color: rgba(227, 227, 227);
}


.header .inner-header .nav .left-menu .gnb>ul>li {
  padding: 15px;
}

.header .inner-header .nav h1.logo {
  flex: 0 0 150px;
}

.header .inner-header .nav h1.logo img {
  width: 100%;
  height: auto;
  display: block;
}

.header .inner-header .nav .right-menu {
  border: 1px solid;
  display: flex;
  flex: 0 0 50px;

}